<style>
  h1{
    text-align: center;
    color: red;
    margin-bottom: 100px;
  }
  .main{
    width: 500px;
    margin-left: 300px;
  }
</style>

<h1 class="mt-4">Update Account</h1>
<div class="main">
    <form method="POST" action="/account/update/{{accountE._id}}?_method=PUT">
        <div class="form-group">
            <label for="name" style="font-weight: bold;">Role</label>
            <input type="text" class="form-control" value="{{accountE.role}}" id="role" name="role">
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <p class="mt-4">Note:</p>
    <p>Admin: qtv</p>  
    <p>Collaborator_Destination: ctv1</p>
    <p>Collaborator_Tour: ctv2</p>
    <p>Member: tv</p>
</div>

