<style>
    h1{
        text-align: center;
        color: orange;
    }
</style>
<h1>PROFILE</h1>
<div class="container">
    <div style="font-size: 20px">Id: {{account._id}}</div>
    <div style="font-size: 20px">Username: {{account.username}}</div>
    <div style="font-size: 20px">Mail: {{account.email}}</div>
</div>
<script>
    document.querySelector(".man").setAttribute("class", "man")
</script>
